<h1>Edit this movie</h1>

<form action="/favorites/<%= id %>/edit" id="putForm" method="POST">
	<input type="text" name="title" placeholder="new title">
	<button type="submit">Submit</button>
</form>


