<h1>Home Page for OMDB</h1>

<form method="GET" action="/movies">
	<input type="text" class="form-control" name="searchTerm" placeholder="Type your movie here"/>
	<button class="btn btn-danger" type="submit">Submit</button>
</form>

<a href="/favorites" class="btn btn-primary">Favorites</a>