<!DOCTYPE html>
<html>
<head>
	<title>OMDB movies</title>
	<!-- Latest compiled and minified CSS & JS -->
	<link rel="stylesheet" media="screen" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
	<a href="/" class="btn btn-primary">Home</a>
	<a href="/favorites" class="btn btn-primary">Favorites</a>

	<%- body %>

</body>
</html>